.footer {
    padding-top: 45px;
  
    color: #fbfbfb;
    background-color: $color-dark;
  }
  
  .footer ul {
    padding: 0;
  
    list-style: none;
  }
  
  .footer a {
    color: #777777;
  }
  
  .footer a:hover {
    color: white;
  }
  
  .footer-fifth {
    margin: 20px 0;
  
    text-align: center;
  }
  
  .footer-fifth a {
    color: #ffffff;
  }
  