.panel {
    margin-bottom: 30px;
  
    border: none;
    background-color: #ebebeb;
  }
  
  .panel-info .panel-heading {
    letter-spacing: 0.1em;
  
    color: #ffffff;
    border: none;
    background-color: #df8a13;
  
    font-size: 1.2rem;
  }
  
  .panel-body {
    border: 1px solid #dddddd;
    border-radius: 0 0 4px 4px;
  }