
.site-news-item {
    position: relative;
  
    clear: both;
  }
  
  .site-news-item:not(:last-child) {
    min-height: 85px;
    margin-bottom: 15px;
  }
  
  .site-news-item:not(:last-child)::after {
    position: absolute;
    right: 0;
    bottom: -5px;
  
    width: calc(100% - 85px);
    height: 1px;
  
    content: "";
  
    background-color: #dddddd;
  }
  
  .site-news-item:hover .site-news-item__title a {
    color: #df8a13;
  }
  
  .site-news-item:hover .site-news-item__image {
    border-color: #df8a13;
    background-color: #df8a13;
  }
  
  .site-news-item__image {
    float: left;
  
    width: 75px;
    margin: 0 10px 10px 0;
  }
  
  .site-news-item__image img {
    width: 100%;
  }
  
  .site-news-item__date {
    text-align: right;
  
    color: #909090;
  
    font-size: 0.8rem;
  }
  
  .site-news-item__title {
    margin-bottom: 10px;
  }
  
  .site-news-item__title a {
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
  
    height: 50px;
  
    -webkit-transition: color 0.25s;
    -o-transition: color 0.25s;
    transition: color 0.25s;
  
    font-size: 1rem;
    line-height: 1.5rem;
  
    -webkit-line-clamp: 2;
  }
  