
.user-login__tabs {
    position: absolute;
    top: 0;
    right: 10px;
  
    border: none;
  }
  
  .user-login__tabs a {
    padding: 14px 5px 12px !important;
  
    color: #dddddd;
    border: none !important;
    background-color: transparent !important;
  }
  
  .user-login__tabs .active a {
    color: #ffffff !important;
  }
  